<title>Carrinho</title>
<body>
    <%- include('../views/components/header/headerCliente') %>
    <div class="container">
        <div>
            <h1>Meu carrinho</h1>
            <% if (carrinhoItems && carrinhoItems.length > 0) { %>
                <ul>
                    <% carrinhoItems.forEach(item => { %>
                        <li data-empresa-id="<%= item.empresaId %>">
                            <p>Produto: <%= item.Produto ? item.Produto.name : 'Nome do Produto não encontrado' %></p>
                            <p>Quantidade: <%= item.quantidade %></p>
                            <p>Preço: R$<%= item.preco %></p>
                            <form class="deleteForm" data-item-id="<%= item.id %>">
                                <button type="submit">Excluir</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
                <form id="enviarPedidoForm" action="/carrinho/enviar-pedido" method="POST">
                    <button type="submit">Enviar Pedido</button>
                </form>
            <% } else { %>
                <p>Nenhum item no carrinho.</p>
            <% } %>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Função para excluir itens do carrinho
            document.querySelectorAll('.deleteForm').forEach(form => {
                form.addEventListener('submit', async function(event) {
                    event.preventDefault();

                    const itemId = this.getAttribute('data-item-id');

                    try {
                        const response = await axios.post(`/carrinho/delete/${itemId}`, {});

                        if (response.status === 200) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Item deletado com sucesso.',
                            }).then(() => {
                                // Recarregar a página para refletir a exclusão
                                window.location.reload();
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Erro',
                                text: 'Erro ao deletar item.',
                            });
                        }
                    } catch (error) {
                        console.error('Erro ao deletar item:', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Erro ao deletar item.',
                        });
                    }
                });
            });

            // Enviar pedido
            const enviarPedidoForm = document.getElementById('enviarPedidoForm');
            enviarPedidoForm.addEventListener('submit', async function(event) {
                event.preventDefault();

                const empresaIds = new Set();
                document.querySelectorAll('li[data-empresa-id]').forEach(li => {
                    empresaIds.add(li.getAttribute('data-empresa-id'));
                });

                if (empresaIds.size > 1) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro',
                        text: 'Não pode ter produtos de mais de uma empresa.'
                    });
                    return; // Impede o envio do formulário
                }

                try {
                    const response = await axios.post(enviarPedidoForm.action, {});

                    if (response.status === 200) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Sucesso',
                            text: 'Pedido enviado com sucesso.',
                        }).then(() => {
                            // Redirecionar ou recarregar a página
                            window.location.href = '/meusPedidos';
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Erro ao enviar pedido.',
                        });
                    }
                } catch (error) {
                    console.error('Erro ao enviar pedido:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro',
                        text: 'Erro ao enviar pedido.',
                    });
                }
            });
        });
    </script>
</body>
</html>
