
<title><%= titulo %></title>
<body>
    <%- include('../views/components/header/header') %>
    <div class="container">
        <h1>Nossas Categorias</h1>
        <div class="containerCategoria">
          
            <div class="categoria">
                <span class="material-symbols-outlined">
                    local_cafe
                    </span>
                Cafeterias
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    lunch_dining
                    </span>
                Hamburguerias
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    local_pizza
                    </span>
                Pizzas
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    local_bar
                    </span>
                Bebidas
            </div>
           
            <div class="categoria">
                <span class="material-symbols-outlined">
                    breakfast_dining
                    </span>
                Padarias
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    dinner_dining
                    </span>
                Restaurantes
            </div>
        </div>
        <h2>Todos os restaurantes</h2>
        <div class="containerRestaurantes">
            <% if (empresas && empresas.length > 0) { %>
                <% empresas.forEach(empresa => { %>
                    <div class="empresa">
                            <p><%= empresa.name %></p>
                            <p>Enrereço: <%= empresa.endereco %></p>
                            <p>Número: <%= empresa.numero %></p>
                            <p>Cep: <%= empresa.cep %></p>
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nenhum restaurante encontrado.</p>
            <% } %>
        </div>
    </div> 
    
</body>
</html>
