
<title><%= titulo %></title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
    <%- include('../views/components/header/header') %>
    <div class="container">
        <h1>Nossas Categorias</h1>
        <div class="containerCategoria">
          
            <div class="categoria">
                <span class="material-symbols-outlined">
                    local_cafe
                    </span>
                Cafeterias
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    lunch_dining
                    </span>
                Hamburguerias
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    local_pizza
                    </span>
                Pizzas
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    local_bar
                    </span>
                Bebidas
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    icecream
                    </span>
                Sorvetes
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    breakfast_dining
                    </span>
                Padarias
            </div>
            <div class="categoria">
                <span class="material-symbols-outlined">
                    dinner_dining
                    </span>
                Restaurantes
            </div>
        </div>
        <h2>Todos os restaurantes</h2>
        <div class="containerRestaurantes">
            <% if (empresas && empresas.length > 0) { %>
                <% empresas.forEach(empresa => { %>
                    <div class="empresa">
                            <p><%= empresa.name %></p>
                            <p>Enrereço: <%= empresa.endereco %></p>
                            <p>Número: <%= empresa.numero %></p>
                            <p>Cep: <%= empresa.cep %></p>
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nenhum restaurante encontrado.</p>
            <% } %>
        </div>
    </div> 
    
</body>
<style>
    .container{
        display: flex;
        flex-direction: column;
        padding: var(--padding-fixo);
        gap: 20px;
    }
    .containerCategoria{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .categoria{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ECA457;
    padding: 12px;
    border-radius: 12px;
    width: 200px;
    
}
.empresa{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ECA457;
    width: 250px;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
}
    .containerRestaurantes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
</style>
</html>
