<title>Pedidos de Clientes</title>
<body>
    <%- include('../views/components/header/headerEmpresa') %>
    <div class="container">
        <h2>Pedidos de Clientes</h2>
        <% if (pedidos && pedidos.length > 0) { %>
            <ul>
                <% pedidos.forEach(pedido => { %>
                    <li>
                        <h3>Pedido #<%= pedido.id %></h3>
                        <p>Cliente: <%= pedido.User.name %> (<%= pedido.User.email %>)</p>
                        <p>Total: R$<%= pedido.total %></p>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>Nenhum pedido encontrado.</p>
        <% } %>
    </div>
</body>
</html>
