<title>Pedidos de Clientes</title>
<body>
    <%- include('../views/components/header/headerEmpresa') %>
    <div class="container">
        <h2>Pedidos de Clientes</h2>
        <% if (pedidos && pedidos.length > 0) { %>
            <ul>
                <% pedidos.forEach(pedido => { %>
                    <li>
                        <h3>Pedido #<%= pedido.id %></h3>
                        <p>Cliente: <%= pedido.User.name %> (<%= pedido.User.email %>)</p>
                        <p>Total: R$<%= pedido.total %></p>
                        <div class="itens">
                            <h4>Itens do Pedido:</h4>
                            <ul>
                                <% pedido.itens.forEach(item => { %>
                                    <li>
                                        <p>Produto: <%= item.produto.name %></p>
                                        <p>Quantidade: <%= item.quantidade %></p>
                                        <p>Preço: R$<%= item.produto.preco %></p>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>Nenhum pedido encontrado.</p>
        <% } %>
    </div>
</body>
</html>
